.DWTOutPut {
    float: left;
    padding: 5px 0 0;
    font-size: 14px;
    color: #444;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.DWTOutPut .message {
    margin-top: 3px;
    width: 647px;
    height: 160px;
    border: solid 1px #ccc;
    overflow-y: auto;
    background: #fff;
    line-height: 20px;
    padding: 0px 5px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
}

.DWTOutPut .message .info {
    color: black;
}

.DWTOutPut .message .error {
    color: red;
}

.DWTOutPut .message .important {
    color: #cE5E04;
}