* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: OpenSans-Regular, Arial, sans-serif, Verdana, Helvetica;
    font-size: 16px;
    line-height: 26px;
}

img {
    vertical-align: middle;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #606060;
    text-decoration: none;
}

a:hover {
    color: #fe8e14;
}

input {
    font: normal 12px verdana;
    color: #444;
}

input.invalid {
    background-color: #FF9;
    border: 2px red inset;
}

a img {
    border: none;
}

a img:hover {
    border: none;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.container:after, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.tc {
    text-align: center;
}

.btnOrg {
    padding: 0 15px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    background: #50a8e1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-right-colors: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btnOrg:hover {
    background: #61c2ec;
}

.d-btn {
    display: inline-block;
    padding: 0 25px;
    height: 36px;
    line-height: 30px;
    color: #fe8e14;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: solid 2px #fe8e14;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.d-btn:link, .d-btn:visited {
    color: #fe8e14;
}

.d-btn:hover {
    color: #ffae38;
    border: solid 2px #ffae38;
}

.d-btn.lgBtn {
    height: 46px;
    line-height: 40px;
}

.d-btn.mdBtn {
    height: 42px;
    line-height: 36px;
}

.d-btn.smBtn {
    height: 38px;
    line-height: 32px;
}

.d-btn.bgOrange {
    background: #fe8e14;
    color: #fff;
}

.d-btn.bgOrange:hover {
    background: #ffae38;
}

.d-btn.bgBlue {
    border-color: #50a8e1;
    background: #50a8e1;
    color: #fff;
}

.d-btn.bgBlue:hover {
    border-color: #61c2ec;
    background: #61c2ec;
}

/*=================================== dwtScanDemo =========================================*/

#dwtScanDemo {
    width: 980px;
    margin: 0 auto;
}

/*=============== DWTcontainerTop ===============*/

#DWTcontainerTop {
    position: relative;
    float: left;
    width: 647px;
    height: 572px;
    border: 1px solid #ccc;
}

.ds-dwt-container-box>div {
    border: none !important;
}

/*#divEdit*/

#divEdit {
    float: left;
    margin: 0;
    padding: 0;
    width: 60px;
    background: #fff;
    border-right: 1px solid #ccc;
}

#divEdit .operateGrp li {
    margin: 0;
    width: 60px;
    height: 57px;
    line-height: 52px;
    border-bottom: solid 1px #ccc;
    text-align: center;
}

#divEdit .operateGrp li:nth-last-child(2) {
    height: 58px;
}

#divEdit .operateGrp li:last-child {
    height: 56px;
    border-bottom: none;
}

#divEdit .operateGrp li>img {
    cursor: pointer;
}

#Crop {
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #cE5E04;
    position: absolute;
    height: 80px;
    z-index: 1;
    background-color: #f0f0f0;
    width: 250px
}

#ImgSizeEditor {
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    top: 513px;
    left: -1px;
    height: auto;
    width: 320px;
    font-size: 14px;
    color: #606060;
    text-align: left;
    background-color: #f5f5f5;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 18px #ccc;
    -webkit-box-shadow: 4px 4px 18px #ccc;
    -moz-box-shadow: 4px 4px 18px #ccc;
}

#ImgSizeEditor li {
    margin-bottom: 5px;
}

#ImgSizeEditor input {
    background: #fff;
    border: solid 1px #ccc;
}

#ImgSizeEditor input[type='text'] {
    padding-left: 3px;
}

#ImgSizeEditor input[type='button'] {
    padding: 5px 5px;
    margin: 6px 5px 0;
}

/*#dwtcontrolContainer*/

#dwtcontrolContainer {
    float: left;
    width: 585px;
    height: 515px;
}

#dwtcontrolContainer .dynamsoft-dwt-container-box>div {
    border: none !important;
}

#dwt-NonInstallContainerID {
    float: left;
    width: 560px;
    height: 590px;
}

/*#btnGroupBtm*/

#DWTcontainerTop #btnGroupBtm {
    position: absolute;
    left: 60px;
    bottom: 0;
    padding: 14px 25px 15px 90px;
    width: 585px;
    height: 57px;
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #606060;
}

#btnGroupBtm .ct-lt {
    float: left;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
}

#btnGroupBtm .ct-lt input {
    padding: 0;
    margin-right: 6px;
    width: 25px;
    height: 20px;
    font-size: 10px;
    background: #f5f5f5;
    border: solid 1px #bbbcc0;
    outline: none;
    cursor: pointer;
}

#btnGroupBtm .ct-lt input[type='text'] {
    height: 20px;
    font-size: 12px;
    border: none;
    cursor: default;
}

#btnGroupBtm .ct-lt #DW_btnFirstImage {
    margin-left: 5px;
}

#btnGroupBtm .ct-lt #DW_CurrentImage {
    margin: 0 0 0 -13px;
    text-align: right;
}

#btnGroupBtm .ct-lt #DW_TotalImage {
    margin: 0 -7px 0 0;
    text-align: left;
}

#btnGroupBtm .ct-rt {
    float: right;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
}

#DW_PreviewMode {
    padding: 0 5px;
    margin-left: 5px;
    height: 26px;
    border: solid 1px #d8d8d8;
    color: #444;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

/*=============== ScanWrapper ===============*/

#ScanWrapper {
    float: right;
    width: 315px;
    height: 570px;
}

div.divinput {
    font-size: 14px;
    color: #606060;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: left;
    border: solid 1px #ccc;
    background: #fff;
}

.divType, #ScanWrapper .toggle {
    padding-left: 20px;
    height: 38px;
    line-height: 36px;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
    font-size: 14px;
    color: #444;
    border-bottom: solid 1px #ccc;
    background: #eee;
    cursor: pointer;
}

#ScanWrapper .toggle {
    cursor: default;
}

.mark_arrow {
    display: block;
    float: right;
    margin: 15px 20px 0 0;
    width: 12px;
    height: 8px;
}

.collapsed {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowMjkzMjc0RjYzN0IxMUU2OTNGMUEzOUQ4OEYzQUMxRiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowMjkzMjc1MDYzN0IxMUU2OTNGMUEzOUQ4OEYzQUMxRiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAyOTMyNzRENjM3QjExRTY5M0YxQTM5RDg4RjNBQzFGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAyOTMyNzRFNjM3QjExRTY5M0YxQTM5RDg4RjNBQzFGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+yMDUsAAAALdJREFUeNpirKmpmcbKypoJxAx//vxhYGRkZGBmZmb49u0bAy8vLwMIfP78mQEkz8bGNpmFi4srV0ZGRhoo7seAA0hKSoKoTUCNhYz///9n6O/v5wGCY0BBXRx6zv78+dMuJyfnG1gDCAA1yQCdchzIlEFT/ASILfPy8kA0A1wDCLS1telBNXFBhT5+//7dtqGh4TJMDYoGEGhubgb5ZR2UG1BbW7sFWR5DAwgATcyE0tPR5QACDACUyUGyqItEsAAAAABJRU5ErkJggg==) no-repeat center center;
}

.expanded {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQTc2QThFRjYzN0ExMUU2QTZCNDhEMzY2OTM4MzExMCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQTc2QThGMDYzN0ExMUU2QTZCNDhEMzY2OTM4MzExMCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNBNzZBOEVENjM3QTExRTZBNkI0OEQzNjY5MzgzMTEwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNBNzZBOEVFNjM3QTExRTZBNkI0OEQzNjY5MzgzMTEwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+uMs4sAAAAM9JREFUeNpi+P//PwM6bmtry6ypqcnEJsfEgAYqKyv9uLi4JnNzc08Gsr3Q5VE0FBcX6/Lw8CwDamAG0sy/fv1aBhLDqqGgoEDm9+/f23h5ebm/f//O8O/fPwZ5eXl+oDO2lZeXy8DUMYLclZaWxsXJyXlCXFxcl5mZGcUJIM3Pnj07DWQ6zJo16xvz69evmX/+/LlaRETEjomJieHv378oGCQGNET68+fPuhs3blzNrKurO1VMTCyGjY2NAVuogDArKysD0AXqP3784AMIMABBZn2zUHPjMgAAAABJRU5ErkJggg==) no-repeat center center;
}

.divTableStyle {
    padding: 12px 20px 15px;
    border-bottom: solid 1px #ccc;
}

#ScanWrapper select, #divUpload input[type='text'] {
    margin-top: 3px;
    margin-bottom: 6px;
    height: 26px;
    border: solid 1px #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;
}

#ScanWrapper input[type='checkbox'], #ScanWrapper input[type='radio'] {
    margin: 0 3px 0 0;
}

/*#divScanner*/

#divScanner {
    border-bottom: none;
}

#PCollapse {
    list-style: none inside none;
    margin-left: 0;
    padding-left: 0;
}

select#source {
    margin-top: 3px;
    padding-left: 3px;
    width: 100%;
    font-size: 12px;
    border: solid 1px #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    outline: none;
}

select#Resolution {
    margin-left: 3px;
    width: 192px;
    height: 26px;
}

#divProductDetail li {
    margin-top: 8px;
}

#divProductDetail li:first-child {
    margin-top: 3px;
}

#divProductDetail li label {
    display: inline-block;
    margin: 0 28px 0 0;
    font-size: 12px;
}

#divProductDetail li label:last-child {
    margin: 0;
}

#divProductDetail li label input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#btnScan {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90px;
    height: 30px;
    line-height: 28px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ddd;
    font-size: 14px;
    color: #444;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
    cursor: default;
    outline: none;
}

#div_LoadLocalImage input[type='button'] {
    margin: 15px 0;
    width: 90px;
    height: 30px;
}

#div_ScanImage {
    position: relative;
}

#tblLoadImage {
    position: absolute;
    top: 102px;
    z-index: 1;
    padding: 30px 22px;
    width: 275px;
    height: 128px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    border: 1px solid #fe8e14;
    background-color: #f5f5f5;
}

#tblLoadImage>a {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: normal;
    text-decoration: none;
}

#tblLoadImage a {
    color: #50a8e1;
}

#tblLoadImage a:hover {
    color: #61c2ec;
}

/*#divUpload*/

#divUpload input[type='text'] {
    width: 100%;
    padding-left: 5px;
}

#divUpload li label {
    display: inline-block;
    margin: 0 8px 0 0;
    font-size: 12px;
}

#divUpload li img {
    margin-right: 2px;
}

#divUpload li label:last-child {
    margin-right: 0;
}

#divUpload li input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#divUpload li:nth-child(3) {
    margin: 5px 0 8px;
}

#divUpload li {
    padding: 0 20px;
}

#divUpload li:nth-child(2) {
    padding-top: 12px;
}

#divUpload input[type='button'] {
    margin: 14px 0 20px 0;
}

#divUpload #btnSave, #divUpload #btnUpload {
    padding: 0;
    width: 115px;
    height: 30px;
    margin: 15px;
    margin-left: 0px;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
    cursor: pointer;
}

#divUpload #btnUpload {
    width: 138px;
    margin-right: 0;
}

/*=============== DWTcontainerBtm ===============*/

#DWTcontainerBtm {
    position: relative;
    float: left;
    width: 980px
}

#DWTemessageContainer {
    float: left;
}

#DWTemessageContainer input[type='text'] {
    border: solid 1px #ccc;
    padding-left: 3px;
}

#DWTemessageContainer input[type='button'] {
    cursor: pointer;
    margin: 0 3px;
    outline: none;
}

#DWTdivMsg {
    padding: 5px 0 0;
    font-size: 14px;
    color: #444;
}

#DWTemessage {
    padding: 6px 0 0 8px;
    margin-top: 3px;
    width: 647px;
    height: 160px;
    border: solid 1px #ccc;
    overflow-y: scroll;
    background: #fff;
}

#divNoteMessage {
    float: right;
    padding: 10px 15px;
    margin-top: 34px;
    width: 315px;
    height: 160px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ccc;
    background: #e7f2fd;
    color: #606060;
}

#divNoteMessage p {
    margin: 0;
    color: #444;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
}

/*=============== dailog ===============*/

.ds-dialog-wrap, .ds-dialog-wrap div {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.ds-dialog-wrap:before, .ds-dialog-wrap div:before, .ds-dialog-wrap:after, .ds-dialog-wrap div:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.ks-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.ks-ext-close {
    padding: 0 20px;
    position: absolute;
    right: -5px;
    top: 5px;
}

.ks-ext-close, .ks-ext-close:link {
    color: #2222AA;
    text-decoration: none;
    cursor: pointer;
}

.ks-ext-mask {
    background: #999;
    filter: alpha(opacity=70);
    /* IE */
    -moz-opacity: 0.7;
    /* Moz + FF */
    opacity: 0.7;
    /* CSS3 e.g. FF 1.5 */
}

.D-dailog .ks-ext-close .ks-ext-close-x {
    height: 8px;
}

.D-dailog .ks-ext-close, .D-dailog .ks-ext-close:hover {
    background: none;
    border: none;
}

.D-dailog {
    position: absolute;
    left: -9999px;
    top: -99999px;
    margin: 100px auto;
    padding: 0;
    width: 392px;
    height: 262px;
    background-color: #F1F2F2;
}

.D-dailog .D-dailog-body {
    width: 350px;
    height: 200px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding: 15px;
}

.D-dailog .D-dailog-body-Mac {
    width: 350px;
    height: 235px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding: 15px;
}

.D-dailog .D-dailog-body-NotAllowed {
    color: #444;
    line-height: 1.8;
    width: 350px;
    height: 185px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding: 15px;
}

.D-dailog .D-dailog-body-Scan {
    width: 380px;
    height: 240px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding: 15px;
}

.D-dailog .D-dailog-body-Scan-sample {
    width: 380px;
    height: 200px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding: 15px;
}

.D-dailog a {
    text-decoration: none;
}

.link {
    text-decoration: underline;
}

.D-dailog ul {
    margin: 10px 0 10px 20px;
    list-style-type: disc;
}

.red {
    color: red;
    margin-left: 5px;
}

/*=============== Upgrade ===============*/

#message {
    font-family: Arial, sans-serif, Verdana, Helvetica;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 105;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    padding: 10px 0px 10px 0px;
    color: #239210;
    background-color: #E0F0D6;
    border: 1px solid #54D33F;
    box-shadow: 0 0 10px #3A3A3A;
}

#MessageBody a {
    color: #6A9962;
    font-size: 14px;
}

#message span {
    text-align: center;
    width: 95%;
    float: left;
}

#MessageBoy a:hover {
    text-decoration: underline;
}

.close-notify {
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    padding-left: 3px;
    padding-right: 3px;
}

.close-notify a {
    color: #fff;
}

.DWTPage {
    margin: 0 auto;
}

/*======================== online_demo_view.aspx ==========================*/

#onlineDemoView #wrapper, #demoList #wrapper {
    width: 980px;
    margin: 0 auto;
}

#onlineDemoView #DWTcontainerTop {
    float: none;
    margin: 0 auto;
    width: 640px;
}

#onlineDemoView #DWTcontainerTop #btnGroupBtm {
    width: 100%;
    left: 0;
}

#onlineDemoView #DWTemessage {
    width: 640px;
}

#onlineDemoView #dwtcontrolContainer {
    width: 100%;
    height: 528px;
}

#onlineDemoView #DWTcontainerBtm {
    float: none;
    margin: 0 auto;
    width: 640px;
}

.removeImage #DW_btnRemoveCurrentImage, .removeImage #DW_btnRemoveAllImages {
    padding: 0 8px;
    margin-left: 6px;
    height: 18px;
    line-height: 16px;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    outline: none;
    cursor: pointer;
}

#onlineDemoView #DWTcontainerTop, #scanBarcode #DWTcontainerTop, #scanPdfRasterizer #DWTcontainerTop {
    height: 615px;
}

#onlineDemoView #btnGroupBtm, #scanBarcode #btnGroupBtm, #scanPdfRasterizer #btnGroupBtm {
    height: 85px;
}

#onlineDemoView .removeImage, #scanBarcode .removeImage, #scanPdfRasterizer .removeImage {
    float: left;
    padding: 10px 0 0 65px;
}

/* backToDemoList */

.backToDemoList {
    margin: 20px 0 0 0;
    text-align: center;
}

/*======================== online_demo_list.aspx ==========================*/

#demoList #wrapper {
    border: 2px solid #ddd;
    border-radius: 3px;
}

#demoList .container {
    width: 870px;
}

#demoList .d-btn {}

#demoList .content table {
    width: 100%;
}

#demoList .content th {
    width: 50%;
    text-align: center;
    font-size: 18px;
    color: #444;
    background: #e7f2fc;
    height: 45px;
    font-weight: bold;
}

#demoList .content td {
    text-align: center;
    height: 75px;
    font-size: 16px;
    border-top: solid 1px #ccc;
}

#demoList .content tr:last-child td {
    height: auto;
    text-align: center;
    padding: 30px 0 40px 0;
}

#demoList .content tr td:nth-child(2) span {
    display: inline-block;
    width: 18px;
    height: 17px;
    color: #ccc;
    overflow: hidden;
}